{%extends "base.html"%} {%block content%}
<div class="absolute demo-card-wide mdl-card mdl-shadow--2dp registration-section">
    <div class="different-padding center-container mdl-card__title">
        <div>
            <h2 class="mdl-card__title-text">Please register</h2>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
            <a href="/">
            <i class="material-icons">close</i>
        </a>
          </button>
    </div>
    <div>

        <form class="registration-form" method="post">
            {% csrf_token %} {{ form.as_p }}

            <button style="margin-top: 16px" class="button" type="submit">Register</button>

        </form>
    </div>


</div>

{% endblock %}