{% extends "base.html" %} {% block content%}

<section>
    <div class="register-section">
        <h1>Unlimited movies, TV shows, and more.</h1>
        <h2>Watch anywhere. Cancel anytime.</h2>
        <h3>Ready to watch? Enter your email to register.</h3>
        <form class="register-form" action="">
            <input placeholder="Email address" class="email-input" type="email">
            <input class="button get-started" value="Get Started"> </input>
        </form>
    </div>
</section>
<section class="enjoy-section"></section> {%endblock%}