html,
body {
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.watchit-logo {
    text-decoration: none;
    color: red;
    font-size: 48px;
    font-weight: 900;
    margin-left: 32px;
}

.nav-container {
    background-image: url("../img/film.png");
    background-size: cover;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.border-bottom {
    border-bottom: 8px solid #222 !important;
}

.box {
    width: 100%;
    height: 100%;
    line-height: 1;
    padding: 15px 15px;
    transition: all 0.3s ease;
}

.box::nth-child(1n+1) {
    border-right: none;
}

.saturate {
    backdrop-filter: grayscale(0.4);
}

.nav-absolute {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button {
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-right: 32px;
}

.button:hover {
    background: #f40612;
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
}

.background {
    filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.register-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.get-started {
    border: none;
    text-align: center;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

.email-input {
    height: 30px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 100%;
}

.email-input:focus {
    outline: none;
}

.register-form {
    height: 32px;
    display: flex;
    justify-content: center;
}

.enjoy-section {
    background-color: #000;
    height: 200px;
    width: 100%;
}

.tv-section {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 256px;
    padding-right: 256px;
}

.tv-description {
    background-color: black;
    color: white;
}

.tv-img-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tv-img {
    background-color: black;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.change-text-pic {
    flex-direction: row-reverse !important;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: grey;
    padding-right: 256px;
    padding-left: 256px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer a {
    text-decoration: none;
    color: grey;
    margin: 8px 0;
}

.footer-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}